<h1>Lectures#index</h1>
<p>Find me in app/views/lectures/index.html.erb</p>


<table>
  <% @lectures.each do |lec| %>
    <tr>
      <td><%=lec.title %></td>
      <td><%= link_to 'Show', lecture_path(lec) %></td>
      <td><%= link_to 'Edit', edit_lecture_path(lec) %></td>
      <td><%= link_to 'Destroy', lecture_path(lec),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>